# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# VS Code settings
.vscode/

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# macOS
.DS_Store

# Android
.gradle
/local.properties
*.keystore

# iOS
Pods/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# Web
web/generated/

# Linux & Windows
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Others
*.log
